@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

footer{
  color: white;
  font-size: 18px !important;
}

ul, ul li {
  list-style: none;
  font-size: larger;
  cursor: pointer;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ffe5d9;
  color: black;
  font-size: 16px;
}

a {
  color: black;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #b99f3e;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #b99f3e;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.link-bold {
  color: #b99f3e;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: #ffe5d9;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top-row {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.header__top-row--mobile {
  position: fixed;
  z-index: 9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffe5d9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #b99f3e;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .header__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: black;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url("./../img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../img/header/phone.svg");
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 14px;
  }
  .info--map, .info--tel {
    padding-left: 26px;
  }
}

.benefits {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
}


.benefits__row {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits__item {
  text-align: center;
}


@media screen and (max-width: 959px) {
  .benefits__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.apartments {
  position: relative;
}


.apartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    margin-bottom: 44px;
  }
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: black;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #ffe5d9 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: black;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #ffe5d9 10.42%, rgba(36, 43, 51, 0) 50.52%, #ffe5d9 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../img/cta/cta-bg.jpg"), #c4c4c4;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
}
@media screen and (max-width: 959px) {
  .form__privacy--bottom {
    grid-row: 4/5;
  }
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: black;
  font-weight: 700;
  text-align: center;
  background-color: #b99f3e;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  overflow: hidden;
  position: relative;
  text-align: center;
}


.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.section-map {
  position: relative;
  padding: 180px 0;
}

@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.map {
  width: 100%;
  height: 358px;
  background: #626262;
}

[class*=copyrights-pane] {
  /* display: none !important; */
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

/* Создать свою карту */
[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  filter: grayscale(1) sepia(10%);
}

/* Baloon */
[class*=balloon__layout], [class*=balloon__content] {
  background-color: #ffe5d9 !important;
  color: black !important;
}

[class*=balloon__tail]::after {
  background-color: #ffe5d9 !important;
}

[class*=balloon_layout_panel] {
  background-color: #ffe5d9 !important;
}

[class*=balloon__layout], [class*=balloon__content] a {
  color: #b99f3e !important;
}

[class*=balloon__close-button] {
  background: url("./../img/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}/*# sourceMappingURL=main.css.map */


.cardFlip.is-flipped .front {
  transform: rotateY(180deg);
}

.cardFlip.is-flipped .back {
  transform: rotateY(0deg);
}

.cardFlip {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}

.cardFlip div {
  position: absolute;
  color: white;
  border-radius: 10px;
  padding: 5px;
    text-align: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  background-color: #b99f3e;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.back {
  background-color: #b99f3e;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  z-index: 1;
}





.game-quiz-container{
  width: 65rem;
  height: 36rem;
  background-color: #edede9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.game-details-container{
  width: 80%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-details-container h1{
  font-size: 2rem;
}

.game-question-container{
  width: 80%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d5bdaf;
  border-radius: 25px;
}

.game-question-container h1{
  font-size: 1.8rem;
  text-align: center;
  padding: 3px;
}

.game-options-container{
  width: 80%;
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.game-options-container span{
  width: 100%;
  height: 45px;
  border: 2px solid #d5bdaf;
  border-radius: 20px;
  overflow: hidden;
}
span label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
  text-align: center;
}

input[type="radio"] {
  position: relative;
  display: none;
}


input[type=radio]:checked ~ .option {
background: #ffddd2;
}

.next-button-container{
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.next-button-container button{
  border-radius: 10px;
  background: none;
  color: rgb(25, 25, 25);
  font-weight: 600;
  border: 2px solid #d5bdaf;
  cursor: pointer;
  outline: none;
}
.next-button-container button:hover{
  background-color: #83c5be;
}

.modal-container{
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
  height: 50%;
  width: 50%;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container h1{
  font-size: 2rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.grade-details{
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grade-details p{
  color: white;
  text-align: center;
}

.modal-button-container{
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button{
  width: 190px;
  padding: 15px;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 20px;
}
.modal-button-container button:hover{
  background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
  .game-quiz-container{
      width: 90%;
      height: 80vh;
   }
   .game-details-container h1{
      font-size: 0.8rem;
   }

   .game-question-container{
      height: 6rem;
   }
   .game-question-container h1{
     font-size: 0.9rem;
  }

  .game-options-container span{
      width: 90%;
      height: 2.5rem;
  }
  .game-options-container span label{
      font-size: 0.8rem;
  }
  .modal-content-container{
      width: 90%;
      height: 25rem;
  }
  
  .modal-content-container h1{
      font-size: 1.2rem;
  }
}

@media(min-width : 350px) and (max-width : 700px){
 .game-quiz-container{
     width: 90%;
     height: 80vh;
  }
  .game-details-container h1{
      font-size: 1rem;
  }

  .game-question-container{
      height: 8rem;
  }

  .game-question-container h1{
      font-size: 0.9rem;
   }

  .game-options-container span{
      width: 90%;
  }
  .modal-content-container{
      width: 90%;
      height: 25rem;
  }
  .modal-content-container h1{
      font-size: 1.2rem;
  }
}



@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.canvas {
  position: relative;    
  width: 500px;
  height: 380px;
  margin: 20px auto;    
  transition: .3s ease;    
  perspective: 800px;
  transform-style: preserve-3d;
  perspective-origin: 100% 0;
}
.box_backgound {
  position: relative;    
  overflow: hidden;    
  width: 500px;
  height: 380px;    
  animation: sky-color 100s linear infinite;
}
@keyframes sky-color {
  0% {
      background: skyblue;
      box-shadow: 0 -400px 300px -300px steelblue inset;
  }
  25% {
      background: darkslateblue;
      box-shadow: 0 -400px 300px -300px orangered inset;
  }
  50% {
      background: darkslateblue;
      box-shadow: 0 -400px 300px -300px transparent inset;
  }
  100% {
      background: skyblue;
      box-shadow: 0 -400px 300px -300px steelblue inset;
  }
}
.ship::after {
  position: absolute;
  bottom: 0;
  left: 0;    
  width: 100px;
  height: 20px;    
  content: '';    
  border-radius: 0 0 0 20px;
  background: #e25c45;
}
.ship::before {
  position: absolute;
  top: 0;
  left: 10px;    
  width: 65px;
  height: 16px;    
  content: '';    
  border-radius: 20px 0 0 0;
  background: black;
}
.ship {
  position: absolute;
  right: -100px;
  bottom: 30px;    
  width: 100px;
  height: 36px;    
  animation: ship-move 60s linear infinite;
}

@keyframes ship-move {
  to {
      transform: translateX(-700px);
  }
}
.ship_smokestack {
  position: absolute;
  bottom: 36px;
  left: 45px;    
  width: 10px;
  height: 17px;    
  background: #a18e6e;
}
.ship_window {
  position: absolute;
  top: 6px;
  left: 40px;    
  width: 7px;
  height: 7px;    
  border-radius: 50%;
  background: #a18e6e;
  box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}
.smoke div {
  position: absolute;    
  width: 7px;
  height: 7px;    
  border-radius: 50%;
  background: white;
}
.smoke-1 {
  top: -25px;
  right: 44px;    
  animation: smoke-move 2s ease-out infinite;
}
.smoke-2 {
  top: -25px;
  right: 42px;    
  animation: smoke-move 2s ease-out 1.2s infinite;
}
.smoke-3 {
  top: -25px;
  right: 49px;    
  animation: smoke-move 2s ease-out .7s infinite;
}
@keyframes smoke-move {
  50% {
      transform: translateY(-150%) scale(1.5);
  }
  100% {
      transform: translateY(-300%) scale(2);        
      opacity: 0;
  }
}
.sun {
  position: absolute;
  top: 30px;
  right: 50%;    
  width: 80px;
  height: 80px;    
  animation: sun-rotate 15s linear infinite;    
  border-radius: 50%;
  background: #ffcf11;
  box-shadow: 0 0 100px #ffdf05;
}
.sun-wrapper {
  position: absolute;
  
  width: 100%;
  height: 100%;
  
  transform-origin: bottom center;
  animation: sun-move 100s linear infinite;
}
@keyframes sun-move {
  to {
      transform: rotate(360deg);
  }
}
.sun div {
  position: absolute;
  top: -20px;
  left: 50%;    
  width: 2px;
  height: 100px;
  margin-left: -1px;    
  border: 10px solid #ffcf11;
  border-width: 10px 0 10px 0;
}
.sun div:nth-child(2) {
  transform: rotate(18deg);
}
.sun div:nth-child(3) {
  transform: rotate(36deg);
}
.sun div:nth-child(4) {
  transform: rotate(54deg);
}
.sun div:nth-child(5) {
  transform: rotate(72deg);
}
.sun div:nth-child(6) {
  transform: rotate(90deg);
}
.sun div:nth-child(7) {
  transform: rotate(-18deg);
}
.sun div:nth-child(8) {
  transform: rotate(-36deg);
}
.sun div:nth-child(9) {
  transform: rotate(-54deg);
}
.sun div:nth-child(10) {
  transform: rotate(-72deg);
}
.cloud {
  position: absolute;
  left: -180px;    
  width: 200px;
  height: 60px;    
  opacity: .8;
  border-radius: 200px;
  background: white;
}
.cloud:before,
.cloud:after {
  position: absolute;
  position: absolute;
  top: -15px;
  left: 10px;    
  width: 100px;
  height: 80px;    
  content: '';    
  border-radius: 100px;
  background: white;
}
.cloud:after {
  top: -55px;
  right: 15px;
  left: auto;
  
  width: 120px;
  height: 120px;
}
.cloud-1 {
  top: 10px;
  
  transform: scale(.3);
  animation: move-cloud-3 70s linear infinite;
}
@keyframes move-cloud-3 {
  to {
      transform: translateX(700px) scale(.3);
  }
}
.cloud-2 {
  top: 50px;    
  transform: scale(-.4, .4);
  animation: move-cloud-2 40s linear 20s infinite;
}
@keyframes move-cloud-2 {
  to {
      transform: translateX(700px) scale(-.4, .4);
  }
}
.cloud-3 {
  top: 100px;    
  transform: scale(.5);
  animation: move-cloud-1 30s linear 3s infinite;
}
@keyframes move-cloud-1 {
  to {
      transform: translateX(700px) scale(.5);
  }
}
.cloud-4 {
  top: 170px;    
  transform: scale(-.6, .6);
  animation: move-cloud-4 20s linear 15s infinite;
}
@keyframes move-cloud-4 {
  to {
      transform: translateX(700px) scale(-.6, .6);
  }
}
.sea {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;    
  height: 40px;    
  opacity: .8;
  background: #2a94d6;
}
.sea::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;    
  height: 10px;    
  content: '';    
  background: #1d7fbb;
}
@keyframes sun-rotate {
  to {
      transform: rotate(1turn);
  }
}

.into{
  color: #b99f3e;
}

.cont {
  position: relative;
  overflow: hidden;
  width: 99vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.cont .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.cont .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cont .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
